  <div class="navbar-header"> 

      <div class='navbar-header-logo'>
       <!-- <div class='logo'></div>-->
      </div> 
      <div class='navbar-header-menu'>
        <a class="" [routerLink]="['/tasks']" >
          <div class='icon'> 
            <div class='task'></div>
            <div class='text'>Tasks</div>
          </div> 
        </a>
        <a class="" [routerLink]="['/employees']" >
          <div class='icon'> 
            <div class='employees'></div>
            <div class='text'>Empleados</div>
          </div> 
        </a>
      </div> 
  </div> 